@model IEnumerable<TheIcecreamParlour.Models.icecream>

@{
    ViewBag.Title = "Icecreams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-family: 'Old English Text MT' ">Icecreams</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
    <table class="table table-hover table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flavour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gluten_Free)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dairy_Free)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Flavour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gluten_Free)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dairy_Free)
            </td>

            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FlavourID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.FlavourID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.FlavourID })
                </td>
            }
            </tr>
        }

    </table>
